<footer>
    <div class="f-info">
        <div class="f-info-brand-links">
            <div class="f-info-brand">&copy; 2025 Wanderlust Pvt</div>
            <div class="f-info-links">
                <a href="/privacy">路 &nbsp; <span class="span">Privacy</span></a>
                <a href="/terms">路 &nbsp; <span class="span">Terms</span></a>
                <a href="/terms">路 &nbsp; <span class="span">Sitemap</span></a>
                <a href="/terms">路 &nbsp; <span class="span">Company details</span></a>
            </div>
        </div>
        
        
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <!-- <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div> -->
    </div>
</footer>